:root.theme-dark {
  .decor {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --article-title-color: var(--background-color);
    --article-text-color: var(--title-shadow);
    --section-title-color: var(--title-shadow);
    --title-decor: var(--title-shadow);
    --rec-color: var(--title-shadow);
    --link-shadow: var(--title-shadow);

    .decor {
      display: block;
    }
  }
}